# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

.vs
**/obj
**/bin
**/log
**/packages
**/publish
out
/trunk/com.clwl.trflk/out
/trunk_2
/trunk/trflk-web/trflk-api/trflk-EquipDataFromDB/logs
/trunk/trflk-web/trflk-api/trflk-EquipDataFromPLC/logs
*.logs
*.node_modules
/trunk/trflk-web/trflk-api/trflk-mobile/logs
/CSharpWindowStudy/.idea
